<div>
  <mat-toolbar>

    <img src="../assets/logo.svg" alt="Logo Crashify" style="padding-right: 1em" />

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button *ngIf="usuario.getRol()==1" mat-button>Reportes</button>
      <button *ngIf="usuario.getRol()==2" mat-button>Usuarios</button>
      <!-- Sólo se muestra si el tipo de cuenta es de Administrador -->
    </div>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <div fxLayout="column" fxLayoutGap="-30px" fxFlex="80" position="absolute" top="0" right="0">
            <div fxLayout="column" fxLayoutGap="-16px" fxFlex="80">
              <p>{{usuario.getNombre()}}</p><!-- Nombre del Usuario -->
              <small *ngIf="usuario.getRol()==1" style="color: #a9adcc">Perito</small>
              <!-- Tipo del Usuario -->
              <small *ngIf="usuario.getRol()==2" style="color: #a9adcc">Administrador</small>
              <!-- Tipo del Usuario -->
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      <button mat-button type="button" (click)="onCerrarSesion()"><u>Cerrar Sesión</u></button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button *ngIf="usuario.getRol()==1" mat-button>Reportes</button>
    <button *ngIf="usuario.getRol()==2" mat-button>Usuarios</button>
    <!--<button mat-menu-item>Help</button>-->
  </mat-menu>
</div>