<mat-divider></mat-divider>
<br />
<form novalidate [formGroup]="usuarioForm" (ngSubmit)="onGuardarUsuario(formNew)" #formNew="ngForm" fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="7px" fxLayoutGap.sm="0px">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Nombre Completo</mat-label>
      <input formControlName="nombreControl" [(ngModel)]="usuarioTemp.nombre" name="nombre" matInput required />
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Cargo</mat-label>
      <mat-select formControlName="cargoControl" [(ngModel)]="usuarioTemp.rol" name="cargo" required>
        <mat-option value="1">Perito</mat-option>
        <mat-option value="2">Administrativo</mat-option>
        <mat-option value="3">Soporte</mat-option>
        <mat-option value="4">Atención</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="7px" fxLayoutGap.sm="0px">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Usuario</mat-label>
      <input formControlName="usernameControl" [(ngModel)]="usuarioTemp.username" name="username" matInput required />
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input formControlName="passwordControl" name="password" matInput placeholder="Dejar vacío para conservar contraseña actual" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix class="icon-color" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <div class="example-button-row">
      <button type="button" mat-stroked-button color="primary" (click)="cancelarEdicion()">Cancelar</button>
      <button type="submit" mat-raised-button color="primary" [disabled]="usuarioForm.disabled">Guardar</button>
    </div>
  </div>
</form>
