<app-menu></app-menu>

<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Administrador</h1>
      <h2> Vista de gestión de usuarios </h2>
    </div>
  </div>
</header>

<div layout="row" style="padding-bottom: 25px;">
  <div fxLayout="column" fxFlex="10"></div>
  <div fxLayout="column" fxFlex="70">
    <p class="additional_info">Seleccione cualquier usuario para ver sus datos</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button type="button" mat-raised-button color="primary" (click)="agregarUsuario()">
      <mat-icon>person_add</mat-icon>
      &nbsp;&nbsp;Agregar Usuario
    </button>
  </div>
  <mat-divider class="br_div"></mat-divider>
</div>
<div fxFlexAlign="center" fxLayoutAlign="center center">
  <app-usuario [habilitaCampos]="true" (creacionCancelada)="creacionCancelada($event)" [nuevoUsuario]="true"
    *ngIf="agregaUsuario">
  </app-usuario>
</div>
<div fxFlexAlign="center" fxLayoutAlign="center center">
  <mat-accordion style="width: 80%" class="example-headers-align" flex>
    <mat-expansion-panel [expanded]="indexExpanded == i" (opened)="indexExpanded = i" (afterExpand)="indexExpanded = i"
      (closed)="togglePanels(-1)" *ngFor="let user of usuarios; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p class="p-title-limit">{{user.getNombre()}}</p>
        </mat-panel-title>
        <mat-panel-description>
          <mat-chip-list>
            <mat-chip color="primary" selected *ngIf="user.getRol() === 1">
              Perito
            </mat-chip>
            <mat-chip color="accent" selected *ngIf="user.getRol() == 2">
              Administrador
            </mat-chip>
            <mat-chip selected *ngIf="user.getRol() === 3">
              Soporte
            </mat-chip>
            <mat-chip selected *ngIf="user.getRol() === 4">
              Atención
            </mat-chip>
          </mat-chip-list>
          <!-- TODO -->
          <div class="example-icon">
            <button *ngIf="indexExpanded == i" (click)="habilitarCampos(); togglePanels(i)" mat-icon-button
              matTooltip="Editar" matTooltipPosition="above">
              <mat-icon aria-label="Edit Button">edit</mat-icon>
            </button>
            <button (click)="eliminarProducto(i)" mat-icon-button *ngIf="indexExpanded == i" matTooltip="Eliminar"
              matTooltipPosition="above">
              <mat-icon aria-label="Delete Button">delete</mat-icon>
            </button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-usuario (recargarUsuarios)="recargarUsuarios($event)" (edicionCancelada)="edicionCancelada($event)"
        [usuarioObjeto]="user" [habilitaCampos]="camposHabilitados" [eliminarProducto]="eliminaProducto"></app-usuario>
    </mat-expansion-panel>
  </mat-accordion>
</div>