<div fxLayout="row">
  <h1 mat-dialog-title>Detalle de Reporte<br>
    <small class="utility-icon">{{ data.firstData.direccion }}</small>
  </h1>
  <span class="example-spacer"></span>
  <button class="example-icon" mat-icon-button (click)="onNoClick()">
    <mat-icon class="utility-icon" aria-label="Close Button">close</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>

<div mat-dialog-content>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step>
      <ng-template matStepLabel>Datos de Reporte</ng-template>
      <p>{{ data.firstData.hora | date }}<br>
        <small class="utility-icon"><b>Conductor que reportó: </b>{{ data.firstData.conductor }}</small>
      </p>
      <mat-list class="make-scrollable" flex>
        <h2 mat-subheader>Vehículos Involucrados</h2>
        <mat-divider></mat-divider>
        <mat-list-item class="p-title-limit" *ngFor="let vehiculo of data.additionalData.getVehiculosList()">
          <mat-icon mat-list-icon class="icon-color">time_to_leave</mat-icon>
          <h4 mat-line>{{vehiculo.getMarca()}}</h4>
          <p mat-line> {{vehiculo.getColor()}} </p>
        </mat-list-item>
      </mat-list>

      <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Dictamen</ng-template>
      <app-dictamen [reporteResumido]="data.firstData" [stepper]="stepper"></app-dictamen>
    </mat-step>
  </mat-horizontal-stepper>
</div>